<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SignIn</title>
    <th:block th:insert="~{fragments/staticImports :: headImports}"> </th:block>
</head>
<body>
    <!-- HEADER -->
    <div th:replace="fragments/header :: header"></div>
    <!-- HEADER -->

    <div class="container float-left ml-3 mt-5 pt-4"> <!-- MAIN CONTENT -->
        <div id="elementsAmountSelect" class="row"> <!--PAGE_SIZE-->
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <div class="dropdown show">
                    <a class="dropdown-toggle nav-link" href="#" id="pageSizeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        [[#{sent.reports.page.size}]]
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pageSizeDropdown">
                        <a class="dropdown-item" th:href="@{/admin/users(pageSize=3)}"> 3 </a>
                        <a class="dropdown-item" th:href="@{/admin/users(pageSize=5)}"> 5 </a>
                        <a class="dropdown-item" th:href="@{/admin/users(pageSize=10)}">10 </a>
                    </div>
                </div>
            </div>
        </div> <!--PAGE_SIZE-->

        <div style="border: #0b2e13" class="row"><!--TABLE-->
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" th:text="#{user.id}"></th>
                    <th scope="col" th:text="#{user.firstName}"></th>
                    <th scope="col" th:text="#{user.lastName}"></th>
                    <th scope="col" th:text="#{user.email}"></th>
                </tr>
                </thead>

                <tbody>
                    <th:block th:if="${pageDto != null}">
                        <tr class="table-row clickable-row" th:each="user : ${pageDto.pageList}" th:href="@{/admin/manageUser(userId=${user.id})}" >
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.email}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div> <!--TABLE-->

        <th:block th:if="${pageDto != null and pageDto.allPagesAmount > 1}"> <!--PAGINATION-->
            <div class="row mt-4">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <nav aria-label="...">
                        <ul class="pagination" style="list-style-type: none;">
                            <div class="container-fluid">
                                <div class="btn-group">
                                    <li th:class="${pageDto?.isLeftButtonDisabled} ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" th:href="@{/admin/users(prevPageClick=true, pageSize=${pageDto?.pageSize}, pageIndex=${pageDto?.currentPageIndex})}" th:text="#{pagination.previous}">

                                        </a>
                                    </li>

                                    <li th:each="i : ${#numbers.sequence(pageDto?.startPageIndex, pageDto?.endPageIndex)}" th:class="${pageDto?.currentPageIndex == i} ? 'page-item active' : 'page-item'">
                                        <a class="page-link" th:href="@{/admin/users(pageIndex=${i}, pageSize=${pageDto?.pageSize})}" th:text="${i+1}"> </a>
                                    </li>

                                    <li th:class="${pageDto?.isRightButtonDisabled} ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" th:href="@{/admin/users(nextPageClick=true, pageSize=${pageDto?.pageSize}, pageIndex=${pageDto?.currentPageIndex})}" th:text="#{pagination.next}"></a>
                                    </li>
                                </div>
                            </div>
                        </ul>
                    </nav>
                </div>
            </div>
        </th:block> <!--PAGINATION-->

        <div class="float-left">
            <p>isLeftButtonDisabled : <span th:text="${pageDto?.isLeftButtonDisabled}"></span></p>
            <p>isRightButtonDisabled : <span th:text="${pageDto?.isRightButtonDisabled}"></span></p>
            <p>currentPageIndex : <span th:text="${pageDto?.currentPageIndex}"></span></p>
            <p>allPagesAmount : <span th:text="${pageDto?.allPagesAmount}"></span></p>
            <p>startPageIndex : <span th:text="${pageDto?.startPageIndex}"></span></p>
            <p>endPageIndex : <span th:text="${pageDto?.endPageIndex}"></span></p>
        </div>

        <!--        </th:block> &lt;!&ndash;PAGINATION&ndash;&gt;-->
    </div> <!-- MAIN CONTENT -->


    <!-- FOOTER -->
    <div th:replace="fragments/footer :: footer"></div>
    <!-- FOOTER -->
    <th:block th:insert="~{fragments/staticImports :: scriptImports}"> </th:block>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>