<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
    <th:block th:fragment="header">
        <div class="container-fluid p-0 fixed-top" th:object="${session.user}">
            <nav class="navbar navbar-expand-lg navbar-light" id="header">
                <div class="collapse navbar-collapse">
                    <a class="navbar-brand" th:href="@{/}">
                        <img alt="LOGO" class="z-index: 1050 !default" id="logo" th:src="@{/img/logo.png}">
                    </a>
                </div>
                <span th:text="${session.user == null}"></span>
                <span class="navbar-text mr-3">
                    <span th:text="#{header.greeting}"></span>,
                    <span th:if="${session.user ne null}" th:text="(*{firstName}+' '+ *{lastName})"></span>
                    <span th:unless="${session.user ne null}" th:text="#{header.guest}"></span>
                </span>

                <a class="btn btn-link" th:href="@{/user/signInPage}" th:if="${session.user eq null}" role="button">
                    <span th:text="#{header.authorize}"></span>
                </a>
                <a class="btn btn-link mr-1" th:href="@{/user/signOut}" th:unless="${session.user eq null}" role="button">
                    <span th:text="#{sing.out}"></span>
                </a>
            </nav>
        </div>
    </th:block>
</body>
</html>


