<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title></title>
</head>
<body>
    <th:block th:fragment="header">
        <div class="container-fluid p-0 fixed-top" th:object="${session.user}">
            <nav class="navbar navbar-expand-lg navbar-light" id="header">
                <div class="collapse navbar-collapse">
                    <a class="navbar-brand" th:href="@{/}">
                        <img alt="LOGO" class="z-index: 1050 !default" id="logo" th:src="@{/img/logo.png}">
                    </a>
                </div>
                <span class="navbar-text mr-3">
                    <span th:text="#{header.greeting}"></span>,
                    <span sec:authorize="isAuthenticated()" sec:authentication="name"></span>
                    <span sec:authorize="not isAuthenticated()" th:text="#{header.guest}"></span>
<!--                    <span sec:authentication="name"></span>-->
<!--                    <span sec:authorize="hasRole('ROLE_ANONYMOUS')">Hey!</span>-->
                </span>

<!--                <a class="btn btn-link" th:href="@{/user/signInPage}" th:if="${session.user eq null}" role="button">-->

                <a class="btn btn-link" th:href="@{/login}" sec:authorize="not isAuthenticated()" role="button">
                    <span th:text="#{header.authorize}"></span>
                </a>

                <a class="btn btn-link mr-1" th:href="@{/logout}" sec:authorize="isAuthenticated()" role="button">
                    <span th:text="#{sing.out}"></span>
                </a>
            </nav>
        </div>
    </th:block>
</body>
</html>


