<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title></title>
</head>
<body>
    <th:block th:fragment="headImports">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="stylesheet" href="/css/bootstrap/bootstrap.css" th:href="@{/css/bootstrap/bootstrap.css}"/>
        <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
        <link rel="stylesheet" href="/fonts/fontawesome/css/font-awesome.css" th:href="@{/fonts/fontawesome/css/font-awesome.css}"/>
        <link rel="stylesheet" href="/css/tempusdominus-bootstrap-4.min.css" th:href="@{/css/tempusdominus-bootstrap-4.min.css}"/>">
    </th:block>

    <th:block th:fragment="scriptImports">
        <script type="text/javascript" src="/js/bootstrap/popper.js" th:src="@{/js/bootstrap/popper.js}"></script>
        <script type="text/javascript" src="/jquery/jquery.js" th:src="@{/jquery/jquery.js}"></script>
        <script type="text/javascript" src="/js/main.js" th:src="@{/js/main.js}"></script>
        <script type="text/javascript" src="/js/bootstrap/bootstrap.js" th:src="@{/js/bootstrap/bootstrap.js}"></script>

        <script type="text/javascript" src="/js/moment.js" th:src="@{/js/moment.js}"></script>
        <script type="text/javascript" src="/js/tempusdominus-bootstrap-4.min.js" th:src="@{/js/tempusdominus-bootstrap-4.min.js}"></script>
    </th:block>
</body>
</html>