#footer {
    background-color: #9fcdff;

}

#header {
    background-color: #9fcdff;
    position: relative;
}


.clickable-row {
    cursor:pointer;
}

.clickable-row:hover {
    background-color: #ebf1f7;
}

#updateBtn {
    color: white;
}

#logo {
    width: 105px;
    height: 60px;
    top: 10%;
    left: 1%;
    position: absolute;
}

#test{
    color: #005cbf;
}
