<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <th:block th:insert="~{fragments/staticImports :: headImports}"> </th:block>
</head>
<body>
    <!-- HEADER -->
    <div th:replace="fragments/header :: header"></div>
    <!-- HEADER -->

    <div class="container float-left ml-3 mt-5 pt-4"> <!-- MAIN CONTENT -->
        <div class="row justify">
            <form method="POST"  action="#" th:action="@{/trains/find/}">
                <div class="row">
                    <div class="col-3"> <!--GOING_TO-->
                        <div class="form-group">
                            <label for="usertype" th:text="#{going.to}"></label>
                            <select class="form-control" id="usertype" name="goingTo">me
                                <option th:each="station : ${stations}" th:value="${station.id}" th:selected="${station.id eq '1'}"  th:text="#{${#strings.concat('station.', station.id)}}"></option>
                            </select>
                        </div>
                    </div> <!--GOING_TO-->

                    <div class="col-3"> <!--DATE-->
                        <div class="form-group">
                            <label for="dateInput" th:text="#{departure.date}"></label>
                            <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                                <input type="text" required id="dateInput" class="form-control datetimepicker-input" data-target="#datetimepicker4" name="departureDate"/>
                                <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div> <!--DATE-->

                    <div class="col-3"> <!--TIME-->
                        <div class="form-group">
                            <label for="timeInput" th:text="#{departure.time}"></label>
                            <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                                <input type="text" required id = "timeInput" class="form-control datetimepicker-input" data-target="#datetimepicker3" name="departureTime"/>
                                <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                                </div>
                            </div>
                        </div>
                    </div><!--TIME-->

                    <div class="col-3">
                        <br/>
                        <button type="submit" class="btn btn-primary mt-2" data-dismiss="modal" th:text="#{find.train.btn}"></button>
                    </div>
                </div>
            </form>
        </div>

        <div id="elementsAmountSelect" class="row"> <!--PAGE_SIZE-->
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <div class="dropdown show">
                    <a class="dropdown-toggle nav-link" href="#" id="pageSizeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        [[#{sent.reports.page.size}]]
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pageSizeDropdown">
                        <a class="dropdown-item" th:href="@{/trains/find(pageSize=3, goingTo=${goingTo},departureDate=${departureDate},departureTime=${departureTime})}"> 3 </a>
                        <a class="dropdown-item" th:href="@{/trains/find(pageSize=5, goingTo=${goingTo},departureDate=${departureDate},departureTime=${departureTime})}"> 5 </a>
                        <a class="dropdown-item" th:href="@{/trains/find(pageSize=10,goingTo=${goingTo},departureDate=${departureDate},departureTime=${departureTime})}"> 10 </a>
                    </div>
                </div>
            </div>
        </div> <!--PAGE_SIZE-->

        <span th:text="${pageDto == null}"></span>

        <div style="border: #0b2e13" class="row"><!--TABLE-->
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" th:text="#{table.header.train}"></th>
                    <th scope="col" th:text="#{table.header.route}"></th>
                    <th scope="col" th:text="#{table.header.date}"></th>
                    <th scope="col" th:text="#{table.header.time}"></th>
                </tr>
                </thead>
                <tbody>

                <th:block th:if="${pageDto != null}">
                    <tr class="table-row clickable-row" th:href="@{/trains/booking(trainId=${train.trainId})}" th:each="train : ${pageDto.pageList}">
                        <td th:text="${train.trainId} + ' ' + ${train.trainType}"> </td>
                        <td>
                            <button type="button" class="btn btn-link example-popover p-0 routeName" data-trigger="hover" data-toggle="popover" th:attr="data-content=${stations2}, title=#{table.header.route}" th:text="${#strings.concat(train.departureStationName,' - ',train.arrivalStationName)}"></button>
                            <p class="m-0 routes">
                                <th:block th:each="station : ${train.stations}">
                                    <span th:text="${#messages.msg(#strings.concat('station.', station.stationId))}"></span>
                                </th:block>
                            </p>
                        </td>
                        <td> <span th:text="${train.routeDepartureDate}"></span> <br> <span th:text="${train.routeArrivalDate}"></span></td>
                        <td>
                            <span th:text="${train.routeDepartureTime}"></span> <br> <span th:text="${train.routeArrivalTime}"></span>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div> <!--TABLE-->

        <th:block th:if="${pageDto != null and pageDto.allPagesAmount > 1}"> <!--PAGINATION-->
            <div class="row mt-4">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <nav aria-label="...">
                        <ul class="pagination" style="list-style-type: none;">
                            <div class="container-fluid">
                                <div class="btn-group">
                                    <li th:class="${pageDto.isLeftButtonDisabled} ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" th:href="@{/trains/find(prevPageClick=true, pageIndex=${pageDto.currentPageIndex}, pageSize=${pageDto.pageSize}, goingTo=${goingTo},departureDate=${departureDate}, departureTime=${departureTime})}" th:text="#{pagination.previous}"></a>
                                    </li>

                                    <li th:each="i : ${#numbers.sequence(pageDto.startPageIndex, pageDto.endPageIndex)}" th:class="${pageDto.currentPageIndex == i} ? 'page-item active' : 'page-item'">
                                        <a class="page-link" th:href="@{/trains/find(pageIndex=${i}, pageSize=${pageDto.pageSize}, goingTo=${goingTo},departureDate=${departureDate}, departureTime=${departureTime})}" th:text="${i+1}"> </a>
                                    </li>

                                    <li th:class="${pageDto.isRightButtonDisabled} ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" th:href="@{/trains/find(nextPageClick=true, pageIndex=${pageDto.currentPageIndex}, pageSize=${pageDto.pageSize}, goingTo=${goingTo},departureDate=${departureDate}, departureTime=${departureTime})}" th:text="#{pagination.next}"></a>
                                    </li>
                                </div>
                            </div>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="float-left">
                <p>isLeftButtonDisabled : <span th:text="${pageDto.isLeftButtonDisabled}"></span></p>
                <p>isRightButtonDisabled : <span th:text="${pageDto.isRightButtonDisabled}"></span></p>
                <p>currentPageIndex : <span th:text="${pageDto.currentPageIndex}"></span></p>
                <p>allPagesAmount : <span th:text="${pageDto.allPagesAmount}"></span></p>
                <p>startPageIndex : <span th:text="${pageDto.startPageIndex}"></span></p>
                <p>endPageIndex : <span th:text="${pageDto.endPageIndex}"></span></p>
            </div>
        </th:block> <!--PAGINATION-->



<!--        </th:block> &lt;!&ndash;PAGINATION&ndash;&gt;-->
    </div> <!-- MAIN CONTENT -->

    <!-- FOOTER -->
    <div th:replace="fragments/footer :: footer"></div>
    <!-- FOOTER -->
    <th:block th:insert="~{fragments/staticImports :: scriptImports}"> </th:block>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>